.registerBody
  = render partial: 'header_registration'

  .registerWrapper
    .registerWrapper__head
      %h2 会員登録完了
    .registerWrapper__content--create
      .registerWrapper__content--create__message
        %p ありがとうございます。
        %p 会員登録が完了しました。
      .registerWrapper__content--create__homelink
        = link_to 'トップページに戻る', root_path, class: "registerWrapper__content--create__homelink__btn"
  
  = render partial: 'modules/footerSub'
