@import "mixin/sectionTitle";
@import "mixin/mustMark";
@import "mixin/optionMark";
@import "mixin/selectForm";
@import "mixin/textField";
@import "mixin/footerSub";
@import "mixin/dropDown";

.goodsNew {
  width: 100%;
  background-color: #f5f5f5;
  color: #333333;

  &__logo {
    height: 128px;
    line-height: 128px;
    text-align: center;

    & a {
      position: relative;
      top: 18px;
      display: inline-block;
      height: 49px;
      line-height: 49px;
    }
  }

  &__form {
    width: 700px;
    margin: 0 auto 70px;
    background-color: $white;

    .form {
      .sectinDescribe {
        color: #888888;
        font-weight: 600;
        font-size: 14px;
      }

      .goodsNew__form__pic {
        padding: 40px;

        .pic__title {
          &--text {
            @include sectionTitle;
          }

          &--must {
            @include mustMark;
          }
        }

        .pic__describe {
          font-size: 13px;
          margin-top: 16px;
        }

        #image-box {
          text-align: center;
          margin-top: 16px;

          .jsFileLabel {
            display: inline-block;
            width: 620px;
            height: 60px;
            padding-top: 3px;
            border: 1px dashed #cccccc;
            background-color: #f5f5f5;
            cursor: pointer;

            &--form {
              font-size: 11px;
              position: relative;
              top: 95px;
              left: 40px;
              outline: none;
            }

            .fas {
              position: relative;
              top: 50px;
              left: -125px;
              font-size: 20px;
            }

            .pic__text {
              position: relative;
              top: 53px;
              font-size: 12px;
            }
          }
        }
      }

      .goodsNew__form__name {
        padding: 40px;
        border-top: 1px solid #efefef;

        .name__title {
          &--text {
            @include sectionTitle;
          }

          &--must {
            @include mustMark;
          }
        }

        .name__title--form {
          @include textField;
        }

        .name__title--form:focus {
          border-color: $borderFocus;
        }

        .name__explanation {
          margin-top: 32px;

          &--text {
            @include sectionTitle;
          }

          &--must {
            @include mustMark;
          }
        }

        .explanation__form {
          width: 100%;
          margin-top: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 13px 16px;
          outline: none;
        }

        .explanation__form:focus {
          border-color: $borderFocus;
        }
      }

      .goodsNew__form__detail {
        padding: 40px;
        border-top: 1px solid #efefef;

        .detail__category {
          margin-top: 16px;

          &--text {
            @include sectionTitle;
          }

          &--must {
            @include mustMark;
          }
        }

        .selectBoxCategory {
          #parentsWrapper {
            display: flex;
            position: relative;

            #parentsCategory {
              @include selectForm;
            }

            #parentsCategory:focus {
              border-color: $borderFocus;
            }

            @include dropDown;
          }

          #childrenWrapper {
            display: flex;
            position: relative;

            #childrenCategory {
              @include selectForm;
            }

            #childrenCategory:focus {
              border-color: $borderFocus;
            }

            @include dropDown;
          }

          #grandChildrenWrapper {
            display: flex;
            position: relative;

            #grandChildrenCategory {
              @include selectForm;
            }

            #grandChildrenCategory:focus {
              border-color: $borderFocus;
            }

            @include dropDown;
          }
        }

        .detail__brand {
          margin-top: 32px;

          &--text {
            @include sectionTitle;
          }

          &--option {
            @include optionMark;
          }
        }

        .detail__brand--form {
          @include textField;
        }

        .detail__brand--form:focus {
          border-color: $borderFocus;
        }

        .detail__condition {
          margin-top: 16px;

          &--text {
            @include sectionTitle;
          }

          &--must {
            @include mustMark;
          }
        }

        .selectBox {
          display: flex;
          position: relative;

          #good_goodsCondition {
            @include selectForm;
          }

          #good_goodsCondition:focus {
            border-color: $borderFocus;
          }

          @include dropDown;
        }
      }

      .goodsNew__form__delivery {
        padding: 40px;
        border-top: 1px solid #efefef;

        .delivery__fee {
          margin-top: 24px;

          &--text {
            @include sectionTitle;
          }

          &--must {
            @include mustMark;
          }
        }

        .selectBox {
          display: flex;
          position: relative;

          #good_deliveryFee {
            @include selectForm;
          }

          #good_deliveryFee:focus {
            border-color: $borderFocus;
          }

          @include dropDown;
        }

        .delivery__prefecture {
          margin-top: 16px;

          &--text {
            @include sectionTitle;
          }

          &--must {
            @include mustMark;
          }
        }

        .selectBox {
          display: flex;
          position: relative;

          #good_prefecture_id {
            @include selectForm;
          }

          #good_prefecture_id:focus {
            border-color: $borderFocus;
          }

          @include dropDown;
        }

        .delivery__day {
          margin-top: 16px;

          &--text {
            @include sectionTitle;
          }

          &--must {
            @include mustMark;
          }
        }

        .selectBox {
          display: flex;
          position: relative;

          #good_deliveryDay {
            @include selectForm;
          }

          #good_deliveryDay:focus {
            border-color: $borderFocus;
          }

          @include dropDown;
        }
      }

      .goodsNew__form__price {
        padding: 40px 40px 0;
        border-top: 1px solid #efefef;

        .price__wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 24px;

          &__title {
            &--text {
              @include sectionTitle;
            }

            &--must {
              @include mustMark;
            }
          }

          &__form {
            &--yen {
              font-size: 14px;
              margin-right: 8px;
            }

            .price__form {
              width: 285px;
              height: 48px;
              border: 1px solid #ccc;
              border-radius: 4px;
              outline: none;
              padding: 0 16px;
              text-align: right;
            }

            .price__form:focus {
              border-color: $borderFocus;
            }
          }
        }

        .price__fee__wrap {
          display: flex;
          justify-content: space-between;
          margin-top: 24px;
          font-size: 14px;
          height: 70px;
          line-height: 70px;
        }

        .price__profit__wrap {
          border-top: 1px solid #efefef;
          display: flex;
          justify-content: space-between;
          padding-top: 12px;
          font-size: 14px;
          height: 58px;
          align-items: center;
        }
      }

      .goodsNew__form__exibition {
        padding: 40px 40px 64px;
        text-align: center;

        .exibition__btn {
          display: block;
          width: 360px;
          margin: 0 auto;
          background-color: #3ccace;
          color: $white;
          font-size: 17px;
          min-height: 48px;
          line-height: 48px;
          padding: 0 24px;
          border-radius: 4px;
          font-weight: 600;
          border: 1px solid transparent;
          cursor: pointer;
          outline: none;
        }

        .draft__btn {
          display: block;
          width: 360px;
          margin: 24px auto 0;
          background-color: #cccccc;
          font-size: 17px;
          min-height: 48px;
          border-radius: 4px;
          font-weight: 600;
          outline: none;
          cursor: pointer;
          border: none;
        }

        .back__top__link {
          display: inline-block;
          text-decoration: none;
          color: $linkBlue;
          font-size: 14px;
          margin-top: 24px;
        }

        .exibitionNote {
          font-size: 12px;
          margin-top: 32px;

          span {
            color: $linkBlue;
          }
        }
      }
    }
  }

  @include footerSub;
}
