.showGoods {
  &__showGoodsBody {
    &__showGoodsBodyMain {
      color:black;
      background-color: #e0dfdffa;
      text-decoration: none;
     
      &__showGoodsBodyMainCategory {
        background-color: white;
        &__showGoodsBodyMainCategoryBox {
          .categoryBoxInfo {
          }
        }
      }
   
      &__showGoodsBodyMainSelect {
        background-color: white;
        %h1.selectItemName {
          background-color: greenyellow;
        }
        .selectContent {
          background-color: indianred;
          &__selectContentPhotos {
            &__selectContentPhotosPhoto {
              &__selectContentPhotosPhotoOne {
              }
              &__selectContentPhotosPhotoOther {
              }
            }
          }
        }
        .selectPriceBox {
          background-color: lightblue;
          &__selectPriceBoxMoney {
          }
          &__selectPriceBoxSupp {
            &__selectPriceBoxSuppTax {
            }
            &__selectPriceBoxSuppShippingFee {
            }
          }
        }
        .selectDescription {
          background-color: lightseagreen;
          &__selectDescriptionBody {
          }
        }


        .selectTables {
          background-color: yellowgreen;
          &__selectTablesBody {
            overflow-x : auto
            %table {
              width: 100%;
              %tr {
                %th {
                  width:30%;
                  border:solid 1px #979797;
                  display:block;
                  %td {
                    width:70%;
                    border:solid 1px #979797;
                    display:block;
                    .exhibitorName {
                    }
                    .exhibitionCategory {
                      color: #3ccACE:
                    }
                    .exhibitionCategorySub {
                      color: #3ccACE:
                    }
                    .exhibitionCategorySubSub {
                      color: #3ccACE:
                    }
                    .exhibitionAddress {
                      color: #3ccACE:
                    }
                  }
                }
              }
            }
          }
        }
        .selectReport {
          background-color: navajowhite;
          &__selectReportLeft {
            &__selectReportLeftLike {
              %form{:action => "#", :method => "post"}
                = button_tag "Submit", type: 'submit', class: "selectReportLeftLikeBtn" do
                  %i.fas.fa-star.iconStar
                  %span.spanStarWord
                    お気に入り
                  %span.spanStarNumber
                    2
            }
            &__selectReportLeftBad {
              &__selectReportLeftBadLink {
                = link_to "#", class: "selectReportLeftBadLinkBtn" do
                  .i.fas.fa-flag.iconFlag
                  %span.spanFlag
                    不適切な商品の通報
              }
            }
          }
        }
      }
    
      &__showGoodsBodyMainComment {
        background-color:white;
        &__showGoodsBodyMainCommentContent {
          .mainCommentContentBody {
            %form{action: "#", method: "post", name: "", class: "mainCommentContentBodyForm"}
              %textarea{name: "", rows:"", cols: "35", class: "mainCommentContentBodyTextarea"}
              .mainCommentContentBodyTag
          }
        }
      }
      &__showGoodsBodyMainOtherItem {
        background-color: slateblue;
        &__showGoodsBodyMainOtherItemBox {
          %ul.mainOtherItemBoxUl
            %li.mainOtherItemBoxUlPrev
              %i.fas.fa-chevron-left.iconChevronLeft
              = link_to "前の商品", "#", class: "mainOtherItemBoxUlPrevOne"
            %li.mainOtherItemBoxUlNext
              = link_to "後ろの商品", "#", class: "mainOtherItemBoxUlNextOne"
              %i.fas.fa-chevron-right.iconChevronRight
        }
      }

      &__showGoodsBodyMainNavi {
        background-color:orange;
        &__showGoodsBodyMainNaviBox {
          %nav.naviBoxBrend
            %ul.naviBoxBrendTop
              %li.naviBoxBrendTop
                = link_to "「カテゴリー」をもっと見る", "#", class: "naviBoxBrendTopBtn"
        }
      }

      &__showGoodsBodyMainPurchace {
        background-color: yellow;
        &__showGoodsBodyMainPurchaceMove {
          .purchaceMove {
            &__purchaceMoveForm {
              %form{:action => "#", :method => "post"}
                %input{:type => "submit", :class =>"purchaceMoveFormBtn", :value => "購入画面に進む"}
            }
          }
        }
      }
    }
  }
}