-# .header
  -# = yield

.showGoods
  第一層
  .showGoods__showGoodsBody
    第二層
    .showGoods__showGoodsBody__showGoodsBodyMain
      第三層
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainSelect
        %h1.selectItemName
          レジェンド元ブラジル代表ロナウジーニョの前歯
        .selectContent
          .selectContent__selectContentPhotos
            = image_tag "20200507_Ronaldinho.jpeg", alt: "Non Photo Now", id: "", class: "image"



          .selectContent__selectContentTables



        .selectPriceBox
          .selectPriceBox__selectPriceBoxItemPrice
            %span.spanItemPrice
              ＄1,000
          .selectPriceBox__selectPriceBoxItemTax
            %span.spanItemTax
              （税込）
          .selectPriceBox__selectPriceBoxItemShippingFee
            %span.spanShippingFee
              送料込み
        .selectPurchaceMove
          .selectPurchaceMove__selectPurchaceMoveForm
            %form{:action => "#", :method => "post"}
              %input{:type => "submit", :class =>"selectPurchaceMoveFormBtn", :value => "購入画面に進む"}
        .selectDescription
          %p
          ロナウジーニョの前歯（現物）です。
          %br
          大事な試合の前日にかけました。
          %br
          未使用品です。
        .selectReport
          .selectReport__selectReportLeft
            .selectReport__selectReportLeft__selectReportLeftLike
              %form{:action => "#", :method => "post"}
                = button_tag "Submit", type: 'submit', class: "selectReportLeftLikeBtn" do
                  %i.fas.fa-heart.iconHeart
                  %span.spanHeartWord
                    いいね!
                  %span.spanHeartNumber
                    2
            .selectReport__selectReportLeft__selectReportLeftBad
              .selectReport__selectReportLeft__selectReportLeftBad__selectReportLeftBadLink
                = link_to "#", class: "selectReportLeftBadLinkBtn" do
                  .i.fas.fa-flag.iconFlag
                  %span.spanFlag
                    不適切な商品の報告
          .selectReport__selectReportRight
            .selectReport__selectReportRight__selectReportRightAction
              = link_to "#", class: "selectReportRightActionBtn" do
                .i.fas.fa-lock.iconLock
                %span.spanLock
                  あんしん・あんぜんへの取り組み




      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainComment
        comment
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainOtherItem
        otherItem
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainSNS
        sns
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainRelatedItem
        relatedItem
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainItemName
        itemName
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainBanner
        banner
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainHiddenBtn
        hiddenBtn

-# .Footer



-# FIXME:
-# .headSnsUrl
-#   = link_to "https://www.facebook.com/", class: "snsFacebook" do
-#   証明する外部リンク先
-#   .messages
-#     = render partial: "message", collection: @messages
-#   .mainChat__forms__former
-# .form
-#   = form_for [@group, @message] do |fo|
-#     = fo.text_field :content, class: "inputText", placeholder: "  knock-knock message!"
-#     .form__pics
-#       = fo.label :image, class: "inputImageLabel" do
-#         = icon('fas', 'image', class: 'icon')
-#         = fo.file_field :image, class: "inputImage"
-#     = fo.submit "knock", class: "inputBtn"


