-# .header
-#   .header__title
-#     = link_to "Furima", "#", class: "header__title--text"
-#   .header__right
-#     = link_to "A", "#", class: "header__right--btn"
-#     = link_to "B", "#", class: "header__right--btn"
-#     = link_to "C", "#", class: "header__right--btn"
-#     = link_to "#", root_path, class: "header__right--btn"
.showGoods
  -# = yield
  goods
  .showGoods__showGoodsBody
    body
    .showGoods__showGoodsBody__showGoodsBodyMain
      main
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainSelect
        select
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainComment
        comment
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainOtherItem
        otherItem
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainSNS
        sns
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainRelatedItem
        relatedItem
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainItemName
        itemName
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainBanner
        banner
      .showGoods__showGoodsBody__showGoodsBodyMain__showGoodsBodyMainHiddenBtn
        hiddenBtn

-# .showGoods__showGoodsBodyFooter




