-# .header
-#   .header__title
-#     = link_to "Furima", "#", class: "header__title--text"
-#   .header__right
-#     = link_to "A", "#", class: "header__right--btn"
-#     = link_to "B", "#", class: "header__right--btn"
-#     = link_to "C", "#", class: "header__right--btn"
-#     = link_to "#", root_path, class: "header__right--btn"
.showGoods
  -# = yield
  -# :css
  -#   .ko {
  -#     background-color: gray;
  -#   }
  try!
  .showGoods__showGoodsBody
    .showGoods__showGoodsBodySelect
    .showGoods__showGoodsBodyComment
    .showGoods__showGoodsBodyOtherItem
      .showGoods__showGoodsBodyOtherItem__linkPrev
      .showGoods__showGoodsBodyOtherItem__linkNext

    .showGoods__showGoodsBodySNS
    .showGoods__showGoodsBodyRelatedItem
    .showGoods__showGoodsBodyItemName
    .showGoods__showGoodsBodyBanner
    .showGoods__showGoodsBodyHiddenBtn

-# .showGoods__showGoodsBodyFooter




